<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILoginService" />
                <binding name="BasicHttpBinding_IFileService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50825/LoginService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILoginService" contract="ServiceReferenceLogin.ILoginService"
                name="BasicHttpBinding_ILoginService" />
            <endpoint address="http://localhost:50825/FileService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFileService" contract="ServiceReferenceFile.IFileService"
                name="BasicHttpBinding_IFileService" />
        </client>
    </system.serviceModel>
</configuration>